---
---

@charset "utf-8";

// Our variables
$base-font-family: "Annie Use Your Telescope", cursive, sans-serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    95%;

$on-palm:          600px;
$on-laptop:        800px;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


h3 {
  font-size:2em;
}

h4 {
  font-size:1.5em;
}

.section-header {
  text-align:center;
  text-transform:uppercase;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
  width:94%;
  max-width:1200px;
  margin:0 auto;
  @extend %clearfix;
  position:relative;
}


/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

//Page header

#masthead {
  margin: 2em 0 0;
  h1 {
    font-size:0;
  }
  img {
    display: block;
    margin:0 auto;
    width: 500px;
    max-width: 94%;
  }
}

#site-about {
  top:0;
  right:0;
  width:80px;
  max-width:25%;
  position:absolute;
  font-size:0;
}

//Page body

#manifesto {
  line-height:1.5em;
  font-size:1.25em;
}

#chart {
  background:#f5f5f5;
  svg {
    margin:0 auto;
    display:block;
  }
  .gauge {
    position:relative;
    label {
      position:absolute;
      font-size:.9em;
      text-align:center;
      &.label-first {
        top:50%;
        left:0;
        margin-left:1em;
      }
      &.label-mid {
        top:0;
        left:50%;
        transform:translateX(-50%);
      }
      &.label-last {
        top:50%;
        right:0;
        margin-right:1em;
      }
    }
  }
  #timeseries {
    height:400px;
    max-height:400px;
    overflow:hidden;
    transition:max-height .33s ease-out;
    padding:0;
    &.inactive {
      max-height:0 !important;
    }
    .c3-axis-y,.c3-legend-item {
      display:none;
    }
    .c3-axis-x {
      .tick {
        line {
          display:none;
        }
        &:first-of-type {
          text {
            text-anchor:start !important;
          }
        }
        &:last-of-type {
          text {
            text-anchor:end !important;
          }
        }
      }
    }
    .c3-line {
      stroke-width:3;
      fill:none;
    }
  }
  #timeseries-toggle {
    border-top:1px solid #333;
    text-align:center;
    margin:2em 0 0;
    i,span {
      line-height:1em;
      display:inline-block;
      background:#f5f5f5;
      cursor:pointer;
      position:relative;
      top:-.5em;
      padding-right:1em;
      &:first-child {
        padding-left:1em;
      }
    }
  }
}

#action {
  img {
    width:100%;
    height:auto;
  }
  a {
    img {
      width:80%;
      margin:1em 10% 2em;
    }
  }
}

.button {
  opacity:.6;
  transition: opacity .25s ease-in-out;
  outline:none;
  cursor:pointer;
  &:hover {
    opacity:1;
  }
}

#cta {
  img {
    display:block;
    margin:0 auto;
  }
  #mc_embed_signup {
    .button {
      background:none;
      display:block;
      width:50%;
      padding:0;
      height:auto;
      margin:0 auto;
    }
  }
}


#content-main {
  section {
    padding:2em 0;
  }
}

#charts-coming-soon {
  position:absolute;
  right:10%;
  top:0;
  z-index:5;
  transform:translateY(-66.666%);
}

//Page footer

footer{
    background: #353e48;
    color:#D2D2D2;
    padding:1em 0;
}

@media screen and (max-width:767px) {
  #site-about {
    position:static;
    float:right;
  }
  #masthead {
    h1 {
      clear:right;
    }
  }
  #charts-coming-soon {
    position:static;
    transform:none;
  }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "layout",
        "syntax-highlighting",
        "buttons"
;
