---
layout: default
published: true
description: "Is Trump an unpredictable moderate, or a bigot and a wannabe autocrat? We provide daily estimates. Help us resist bad stuff!"
---

<style>
  .home {
    width: 40%;
    float: left;
  }

  .sidebar {
    width: 55%;
    float: right;
  }
  
  .test {
    width:auto;
  }

</style>

<!--{% include countdown.html %}-->

<section id="manifesto">
	<div class="wrapper">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<img src="{{site.baseurl}}/media/V-0 Sketches_Intro Text.png">
			</div>
		</div>
	</div>
	
</section>


{% include charts.html %}

<section id="action">
	<div class="wrapper">
		<div class="row">
			<h3 class="section-header">WHAT'S NEXT?</h3>
			<div class="col-sm-3">
				<img src="{{site.baseurl}}/media/V-0 Sketches_Reading.png">
				<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfsWewwlROipPyvcP_67wPhpPJDhQDFk6qEKDcf2vnkdA1QWw/viewform?entry.1092883263=Article+or+other+content&entry.37562339&entry.2022790395">
					<img src="{{site.baseurl}}/media/V-0 Sketches_Submit Idea.png" class="button">
				</a>
			</div>
			<div class="col-sm-3">
				<img src="{{site.baseurl}}/media/V-0 Sketches_Supporting Candidates.png">
				<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfsWewwlROipPyvcP_67wPhpPJDhQDFk6qEKDcf2vnkdA1QWw/viewform?entry.1092883263=Candidate+in+need+of+support&entry.37562339&entry.2022790395">
					<img src="{{site.baseurl}}/media/V-0 Sketches_Submit Idea.png" class="button">
				</a>
			</div>
			<div class="col-sm-3">
				<img src="{{site.baseurl}}/media/V-0 Sketches_Supporting Orgs.png">
				<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfsWewwlROipPyvcP_67wPhpPJDhQDFk6qEKDcf2vnkdA1QWw/viewform?entry.1092883263=Organization+in+need+of+support&entry.37562339&entry.2022790395">
					<img src="{{site.baseurl}}/media/V-0 Sketches_Submit Idea.png" class="button">
				</a>
			</div>
			<div class="col-sm-3">
				<img src="{{site.baseurl}}/media/V-0 Sketches_Getting Engaged.png">
				<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfsWewwlROipPyvcP_67wPhpPJDhQDFk6qEKDcf2vnkdA1QWw/viewform?entry.1092883263=Way+to+get+engaged+and+involved&entry.37562339&entry.2022790395">
					<img src="{{site.baseurl}}/media/V-0 Sketches_Submit Idea.png" class="button">
				</a>
			</div>
		</div>
	</div>
</section>
<section id="blog-latest">
	<div class="wrapper new">
		<h3 class="section-header">From the Blog</h3>
	</div>
	<div class="posts wrapper wrapper-narrower">
	{% assign posts = site.posts | where:'type', 'blog' %}
	{% for post in posts limit:1%}
	    <a href="{{site.baseurl}}/blog">
	    	<article class="post">
	    		<p><img src="{{site.baseurl}}/media/{{post.cover}}"></p>
		      	<h1 class="entry-title">{{ post.title }}</h1>
		      	<p><em><small><time class="published" datetime="{{ post.datetime | date_to_xmlschema }}">{{ post.datetime}}</time></small></em></p>
		    </article>
		</a>
	{% endfor %}
	</div>
</section>
<section id="cta">
	<div class="wrapper">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<img src="{{site.baseurl}}/media/V-0 Sketches_Help Us Fill Out.png">
				<!-- Begin MailChimp Signup Form -->
			    <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
			    <div id="mc_embed_signup">
			    <form action="//timeplots.us14.list-manage.com/subscribe/post?u=a968d8b665760f347bfb4d343&amp;id=cde1a7a7f1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			        <div id="mc_embed_signup_scroll">
			      
			    <div class="mc-field-group">
			      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Please provide your email address">
			    </div>
			      <div id="mce-responses" class="clear">
			        <div class="response" id="mce-error-response" style="display:none"></div>
			        <div class="response" id="mce-success-response" style="display:none"></div>
			      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a968d8b665760f347bfb4d343_cde1a7a7f1" tabindex="-1" value=""></div>
			        <div class="clear">
			        	<input type="image" src="{{site.baseurl}}/media/V-0 Sketches_Sign Up.png" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			        </div>
			    </form>
			    </div>
			    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
			    <!--End mc_embed_signup-->
			</div>
		</div>
	</div>
</section>
