<style>
  @media (min-width: 768px) {
    #chart .col-sm-2 {
      width: 19%;
    }
  }

  .gauge h4 {
    text-align: center;
  }

  .gauge g.arc {
    fill: steelblue;
  }

  .gauge g.pointer {
    stroke: #fff;
  }
  
  .gauge g.label text {
    text-anchor: middle;
    font-size: 14px;
    font-weight: bold;
    fill: #666;
  }
</style>

<section id="chart" ng-controller="gaugeCtrl">
	<gauge-panel type="characteristic">
		<h3 class="section-header">How much should I worry?</h3>
	</gauge-panel>
	<gauge-panel type="policy">
		<h3 class="section-header">What policies/topics are at risk?</h3>
	</gauge-panel>
</section>