<header id="masthead">
	<div class='wrapper'>
		<div id="masthead-utility">
			<div class="secondary">
				<a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | escape}}" target="_blank"><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/intent/tweet?text=&url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | escape}}" target="_blank"><i class="fa fa-twitter"></i></a>
				<a href="http://www.reddit.com/submit?title={{site.title | escape }}{% if page.title %}%20%7C%20{{ page.title | escape }}{% endif %}&url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | escape}}" target="_blank"><i class="fa fa-reddit"></i></a>
				<a href="http://www.linkedin.com/shareArticle?mini=true&title={{site.title | escape }}{% if page.title %}%20%7C%20{{ page.title | escape }}{% endif %}&url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | escape}}" target="_blank"><i class="fa fa-linkedin"></i></a>
			</div>
			<div class="primary">
				<i class="fa fa-bars inactive" id="nav-toggle-primary"></i>
				<nav id="nav-primary" class="inactive">
					<ul class="nobullet">
						<li>
							<a id="site-home" href="{{site.baseurl}}/">Home</a>
						</li>
						<li>
							<a id="site-about" href="{{site.baseurl}}/about">About</a>
						</li>
					</ul>
				</nav>
				
			</div>
		</div>
		<h1 id="site-title"><a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/media/V-0 Sketches_Resistance.png"> Resistance Dashboard</a></h1>
	</div>
</header>
