---
layout: default
---

{% assign organiser = site.data.organisers.[page.organiser] %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  </header>

    <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

    {% if organiser.email %}
      <div>
        <a href='https://secure.ppaction.org/site/Donation2?df_id=12913&12913.donation=form1&s_src=Evergreen_c3_PPNonDirected_banner&_ga=1.101676292.40943649.1479835752' class="button button-primary">Donate</a>
      </div>
    {% endif %}

</article>
